main.main {
    width: 100% !important;
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 15);
    margin: auto;
    padding: var(--gap);
    padding-bottom: 0px;
}

header.page-header > h1 {
    color: #BBB;
}

/* Post */
div.post-content>div.highlight {
    margin: 50px auto;
}

.post-title.entry-hint-parent {
    margin-bottom: 10px;
    font-size: 2.5rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.1rem;
    color: #BBB;
}

header.post-header {
    margin-bottom: 80px
}
header.entry-header {
    color: #BBB;
}
ul.terms-tags > li > a {
    color: #BBB;
}
a.archive-header-link {
    color: #BBB !important;
}
h3.archive-entry-title {
    color: #BBB !important;
    font-size: 1.6rem;
}
.archive-meta {
    font-size: 1.3rem;
}

div.post-meta {
    font-size: 1.5rem;
    line-height: 2rem;
    word-spacing: 0.3rem;
}

.post-tags {
    margin-top: 10px;
}

ol>li>p, ::marker {
    font-size: 0.7rem;
}

blockquote > p, .post-content > p, .post-content > ul {
    margin-bottom: 3rem !important;
}

.post-content blockquote {
    color: gray;
    border-inline-start: 3px solid rgb(95 95 95);
}

/* Post link */
article.post-entry:first-of-type {
    margin-top: 70px;
}

div.entry-content {
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
}

footer.entry-footer {
    font-size: 1.4rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
}

header.entry-header>h2 {
    font-size: 1.8rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.05rem;
    color: #BBB;
}

/* Navbar */

div.logo > a {
    font-size: 3em;
    color: #BBB;
}

nav.nav {
    margin-bottom: 70px
}

ul#menu>li>a {
    font-size: 2rem;
    font-weight: 300;
    color: #BBB;
}

ul.post-tags>li>a {
    font-size: 1rem;
    font-weight: 300;
}

div.social-icons {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 0px;
    margin-top: 50px;
}

footer.post-footer {
    display: flex;
    justify-content: center;
    align-items: start;
}

a.footnote-ref {
    color: salmon;
}

div.footnotes > ol > li > p > a {
    font-size: 1.3rem;
    color: #999;
}


span.katex-html {
    font-size: 1.6rem;
    color: gray;
}

p > code {
    /* font-family: 'Inconsolata', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #999;
}

/* Highlight */
.post-content pre code {
    color: #93A1A1;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    letter-spacing: 0.04rem;
    word-spacing: 0.000025rem;
    line-height: 2rem;
}

/* Pagination */
nav > a.prev, nav > a.next {
    background-color: #2E2E34;
    color: #DADADB;
    font-size: 1.2rem;
}

.post-content {
    /* font-family: 'Inconsolata', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
    word-spacing: 0.25rem;
    color: #999;
}

ul.post-tags > li > a {
    font-size: 1.4rem;
    line-height: 1.8rem;
    word-spacing: -0.05rem;
}

nav.nav {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 70px
}
