{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.2.1/styles/gruvbox-dark.min.css" integrity="sha512-qRo8LjYAm+c8yc6YH84TROIPnkx6j0bD1m1GbA/97FemUlk5y0bYyDbXBWLlWMEBT/AaTUofS4KS3stTdW2RFg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta name="description" content="Primaraly technical blog * Crusade against the entropy! * Hic sunt dracones!">
<meta name="google-site-verification" content="8WOllRgpBysgjasj-_GEPRtIatcclc7MaWKJKNXrUwI" />
