
.post-title-section {
  width: 100%;
  justify-content: start;
  margin-bottom: 3em;
}

.post-title-section .post-title {
  padding: 0.5em 0.5em 0.5em 0em;
  margin-bottom: 0em;
}

.post-metadata {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0em 0.5em 0em;
  font-size: 0.9em;
}

.post-tags {
  display: flex;
}

.post-publish-date {
  display: flex;
  margin-bottom: 0.5em;
}

li > .post-title-section {
  margin-bottom: 2em;
}
