.footer {
  display: flex;
  flex-direction: column;
}

.copyright {
  text-align: center;
  font-size: 0.75em;
  color: #1e1e1e;
}

.top-border {
  border-top: 2px solid #d1d1d1;
}

.links-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 30px;
}

.links-list-label {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

.links-item {
  cursor: pointer;
}

/* XS devices (normal phones, 300px and up) */
@media only screen and (min-width: 300px) {
  .links-item { font-size: 0.8em; }
}

/* S devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .links-item { font-size: 0.9em; }
}

/* M devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* L devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* XL devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
