.hz-container {
  display: flex;
  justify-content: center;
  padding: 0.2em 3em;
}

.hz-container-inner-wrapper {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

/* XS devices (normal phones, 300px and up) */
@media only screen and (min-width: 300px) {
  .hz-container { padding: 0.2em 1.5em; }
  .hz-container-inner-wrapper { width: 100%; }
}

/* S devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hz-container-inner-wrapper { width: 100%; }
}

/* M devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hz-container-inner-wrapper { width: 100%; }
}

/* L devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hz-container-inner-wrapper { width: 100%; }
}

/* XL devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hz-container-inner-wrapper { width: 800px; }
}
