.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 1em;
  background-color: #f1f1f1;
}

.navbar-menu {
  display: flex;
  flex: 1;
  max-width: 140px;
  justify-content: space-between;
  padding-inline-start: 0;
}

.navbar-menu-item {
  display: flex;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1em;
}

/* XS devices (normal phones, 300px and up) */
@media only screen and (min-width: 300px) {
  .logo { font-size: 1em; }
}

/* S devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo { font-size: 1em; }
}

/* M devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo { font-size: 1.5em; }
}

/* L devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo { font-size: 1.5em; }
}

/* XL devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo { font-size: 1.5em; }
}
