.navbar {
  padding: 0.2em 3em;
}

.bottom-border {
  border-bottom: 2px solid #d1d1d1;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 50%;
}

.navbar-menu-item {
  display: flex;
  font-size: 1.1em;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1em;
}

/* XS devices (normal phones, 300px and up) */
@media only screen and (min-width: 300px) {
  .logo { font-size: 1.1em; }
  .navbar { padding: 0.2em 1.5em; }
  .navbar-menu { width: 65%; }
  .navbar-menu-item { font-size: 0.8em; }
}

/* S devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .logo { font-size: 1em; }
  .navbar-menu { width: 50%; }
}

/* M devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo { font-size: 1.5em; }
  .navbar-menu-item { font-size: 1em; }
}

/* L devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo { font-size: 1.5em; }
}

/* XL devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo { font-size: 1.5em; }
}
